<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table is-bordered is-hoverable is-fullwidth">
  <thead>
    <tr class="is-selected"> 
      <th>Course name</th>
      <th>Location</th>
      <th>Holes</th>
      <th>Par</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_name %></td>
        <td><%= course.location %></td>
        <td><%= course.holes %></td>
        <td><%= course.par %></td>
        <td><%= link_to 'Show', course, class: "button is-rounded is-success is-small" %></td>
        <% if current_user && current_user.admin? %>
          <td><%= link_to 'Edit', edit_course_path(course), class: "button is-rounded is-primary is-small" %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-rounded is-danger is-small" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="button is-primary" href="courses/new" role="button">
  New Course
</a>
